<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.example.mapper.TimeMapper">

    <select id="getTitle" resultType="string">
        SELECT example_title FROM example_board where example_number = 1
    </select>

</mapper>